# Dependências
node_modules/

# Bundles de Produção e Builds
dist/
.next/
out/
build/

# Bancos de dados locais / Arquivos de sessão do WhatsApp
baileys_auth/
db.json

# Variáveis de ambiente secretas
.env
.env.local
.env.production
.env.development

# Logs do sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pino-*.log
logs/
*.log
